@model UIUHr.Models.Employee
@{
    ViewBag.Title = "Details";
    var a = ViewBag.addr;
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <table class="table">
        <tr class="row">
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            <td class="col">First Name : </td>
            <td class="col">Last Name : </td>
            <td class="col">DOB : </td>
            <td class="col">Phone :</td>
            <td class="col">Email : </td>
            <td class="col">Nationality : </td>
            <td class="col">NID : </td>
            <td class="col">Job Type : </td>
        </tr>
        <tr class="row">
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.DOB)
            </td>
            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nationality)
            </td>
            <td>
                @Html.DisplayFor(model => model.NID)
            </td>
            <td>
                @Html.DisplayFor(model => model.JobType.Name)
            </td>
        </tr>
        
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <a href="~/Educations/Create">Create Education</a>
</div>
<div>
    <h4>Education</h4>
    <hr />
    <table class="table">
        <tr class="row">
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            <td class="col">Institute : </td>
            <td class="col">Degree : </td>
            <td class="col">Result : </td>
            <td class="col">Passing Year : </td>
            <td class="col">Board : </td>
           
        </tr>
        @if (ViewBag.edu != null)
        {
            foreach (var e in ViewBag.edu)
            {
                <tr class="row">
                    <td class="col">
                        @e.Institute
                    </td>
                    <td class="col">
                        @e.Degree
                    </td>
                    <td class="col">
                        @e.Result
                    </td>
                    <td class="col">
                        @e.PassingYear
                    </td>
                    <td class="col">
                        @e.Board
                    </td>
                    <td>
                        <p>
                            <a href="~/Educations/Edit/@e.Id">Edit</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<div>
    <a href="~/Addresses/Create">Create Address</a>
</div>
<div>
    <h4>Address</h4>
    <hr />
    <table class="table">
        <tr class="row">
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            <td class="col">House/Road : </td>
            <td class="col">Police Station : </td>
            <td class="col">Post Office : </td>
            <td class="col">District : </td>
        </tr>
        <tr class="row">
            @if (a != null)
            {
            <td class="col">
                @a.House_Road
            </td>
            <td class="col">
                @a.PoliceStation
            </td>
            <td class="col">
                @a.PostOffice
            </td>
            <td class="col">
                @a.District
            </td>
            <td>
                <p>
                    <a href="~/Addresses/Edit/@a.Id">Edit</a>
                </p>
            </td>
            }
        </tr>
       
    </table>
</div>